.bg {
    width: 100%;
    position: fixed;
    left: 0%;
    top: 0%;
    z-index: -1;
}

.bgg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0%;
    left: 0%;
    z-index: -2;
    background: url("./images/overlay2.png"), url("./images/overlay3.svg"), linear-gradient(39deg, #0fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
    background-position: top left, center center, center center;
    background-size: auto, cover, cover;
    color: rgba(255, 255, 255, 0.75);
}

@media screen and (max-width: 1024px) {

    .obj {
        display: none;
    }
}

#logo {
    width: 70%;
    height: 70%;
    margin: 20% 0% 0% 15%;
}

#o1 {
    width: 30%;
    height: 20%;
    margin: 10% 30% 5% 5%;
}

#o2 {
    width: 18%;
    height: 18%;
    margin: 35% 70% 10% 5%;
}

#o3 {
    width: 22%;
    height: 18%;
    margin: 5% 10% 5% 65%;
}

#o4 {
    width: 11%;
    height: 18%;
    margin: 25% 5% 5% 80%;
}

#o5 {
    width: 11%;
    height: 18%;
    margin: 25% 65% 5% 5%;
}

#o6 {
    width: 11%;
    height: 18%;
    margin: 35% 10% 5% 75%;
}

#o7 {
    width: 9%;
    height: 18%;
    margin: 20% 5% 5% 30%;
}

#o9 {
    width: 11%;
    height: 18%;
    margin: 20% 5% 5% 60%;
}

#o10 {
    width: 11%;
    height: 18%;
    margin: 28% 10% 5% 40%;
}
