html body {
    height: 100%;
}

#root {
    min-height: 100%;    
}

#id_wrapper {
    min-height: 100%;
    position: relative;
    height: 100vh;
}

#id_header {
    height: 36px;
    box-sizing: border-box;
}

#id_content {

    padding-top: 36px;
    padding-bottom: 36px;
}

#id_footer {
    margin: 0px;
    height: 36px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0px;
    width: 100%;
    clear: both;
}

#id_footer .nomargin {
    margin: 0px;
}

