* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    clear: both;
}

#root {
    height: 100%;
}

#id_wrapper {
    min-height: 100%;
    position: relative;
    height: 810px;
}

.hidden-x {
    overflow-x: hidden;
    overflow-y: auto;
}

.hidden {
    overflow: hidden;
}

@media screen and (max-width: 480px) {

    #id_wrapper {
        height: 700px;
    }
}

#id_header {
    height: 36px;
    box-sizing: border-box;
}

#id_header .z-index-add {
    z-index: 1;
}

#id_content {

    vertical-align: middle;
    padding-top: 36px;
    padding-bottom: 36px;
    box-sizing: inherit;
}

#id_footer {
    margin: 0;
    height: 40px;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    width: 100%;
    clear: both;
}

#id_footer .nomargin {
    margin: 0;
}

a {
    color: #0275d8;
}
