html body {
    height: 100%;
}

#root {
    min-height: 100%;
}

#id_wrapper {
    position: relative;
    height: 100vh;
}

#id_header {
    height: 36px;
    box-sizing: border-box;
}

#id_content {
    padding-top: 36px;
    padding-bottom: 36px;
}

#id_footer {
    margin: 0px;
    height: 36px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

#id_footer .nomargin {
    margin: 0px;
}

.underwater {
    background-image: url('../images/underwater.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
