.postFormDisplay {
    max-width: 540px;
    height: 160px;
    margin: auto auto 10px;
}

.postFormDisplay .TextArea {
    display: inline-block;
    float: left;
    overflow-y: visible;
    width: 90%;
    min-width: 160px;
    height: 160px;
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.postFormDisplay .toolList {
    display: inline-block;
    float: left;
    width: 10%;
    height: 30px;
    padding-left: 4px;
}

.postFormDisplay .toolList .box {
    display: inline-block;
    width: 10%;
    min-width: 50px;
    min-height: 28px;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 8px;
}

@media screen and (max-width: 480px) {

    .postFormDisplay .TextArea {
        width: 100%;
    }

    .postFormDisplay .toolList {
        width: 100%;
        margin-top: 4px;
        margin-bottom: 8px;
    }

    .postFormDisplay .toolList .box {
        margin-right: 4px;
    }
}

.postForm {
    max-width: 540px;
    height: 36px;
    margin: auto;
}

.postForm .checkbox input[type="checkbox"] {
    width: 16px;
    height: 16px;
}

.postForm .checkbox {
    display: block;
    padding-bottom: 120px;
}

.postForm .button {
    width: 100%;
}

.fade-out {
    animation: fade 1s linear;
    opacity: 1;
}

@keyframes fade {
    100% { opacity: 0; }
    50% { opacity: 1; }
}
