input {
    width: 7rem;
}

.rankpage {
    max-width: 720px;
    height: 160px;
    margin: auto auto 10px;
}

.rankpage .table {
    border-color: black;
}

.rankpage .statusbtn {
    cursor: pointer;
}

.rankpage .activebtn {
    z-index: 0 !important;
}

.rankpage .active {
    background-color: #4db6ac !important;
}

.rankpage .clickHand {
    cursor: pointer;
}

.rankpage .tableTitle {
    color: white;
    background: #d1c4e9;
}

.rankpage .tableEntry {
    color: black;
    background: #e0f2f1;
}

.rankpage .tableEntry .likebox {
    width: 4rem;
    font-weight: bold;
}

#id_content .z-index-modify {
    z-index: -1;
}

.rankpage .paginationBtn {
    width: 65%;
    margin: auto;
}
