.trafuko {
    padding: 1rem;
}

.trafuko .ruleTitle {
    text-align: center;
    font-weight: bold;
    min-width: 160px;
    max-width: 720px;
    height: 36px;
    margin: auto;
}

.trafuko .ruleText {
    height: 160px;
    min-width: 160px;
    max-width: 720px;
    margin: auto;
    cursor: not-allowed;
}

.trafuko .checkbox {
    position: relative;
    padding-top: 1px;
    height: 24px;
    max-width: 720px;
    margin: auto;
    font-weight: bold;
    cursor: pointer;
}

.trafuko .checkbox .checkbox-input {
    width: 24px;
}

.trafuko .label-css {
    padding-left: 25px;
    height: 20px;
    display: inline-block;
    line-height: 20px;
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.trafuko .agree {
    display: inline;
}

.trafuko .error {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    color: red;
}
