.trafuko {
    margin-top: 40px;
    padding: 1rem;
}

.trafuko .ruleText {
    min-width: 160px;
    max-width: 540px;
    height: 160px;
    margin: auto;
    cursor: not-allowed;
}

.trafuko .togglebox {
    position: relative;
    display: flex;
    max-width: 540px;
    height: 24px;
    margin: auto;
    padding-top: 1px;
    font-weight: bold;
    justify-content: space-between;
}

.trafuko .togglebox .runtext {
    display: block;
}

.trafuko .togglebtn {
    width: 8rem;
    height: 1rem;
    margin-top: 7px;
}

.trafuko .label-css {
    display: inline-block;
    height: 20px;
    padding-left: 25px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 0 0;
    line-height: 20px;
}

.trafuko .label {
    position: absolute;
    top: 38%;
    display: inline-block;
    cursor: pointer;
}

.trafuko .error {
    display: inline-block;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    -webkit-animation-name: hvr-buzz-out;
    animation-name: hvr-buzz-out;
    -webkit-animation-duration: 0.75s;
    animation-duration: 0.75s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    vertical-align: middle;
    color: red;
    box-shadow: 0 0 1px transparent;
}

.red.react-toggle .react-toggle-track {
    background-color: red;
}

.red.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}

.react-toggle {
    position: relative;
    display: inline-block;
    padding: 0;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    background-color: transparent;
    touch-action: pan-x;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.react-toggle-screenreader-only {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

.react-toggle--disabled {
    cursor: not-allowed;
    -webkit-transition: opacity 0.25s;
    transition: opacity 0.25s;
    opacity: 0.5;
}

.react-toggle-track {
    width: 50px;
    height: 24px;
    padding: 0;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    border-radius: 30px;
    background-color: #4d4d4d;
}

.react-toggle:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #000;
}

.react-toggle--checked .react-toggle-track {
    background-color: #19ab27;
}

.react-toggle--checked:hover:not(.react-toggle--disabled) .react-toggle-track {
    background-color: #128d15;
}

.react-toggle-track-check {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 8px;
    width: 14px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 0;
    line-height: 0;
}

.react-toggle--checked .react-toggle-track-check {
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 1;
}

.react-toggle-track-x {
    position: absolute;
    top: 0;
    right: 10px;
    bottom: 0;
    width: 10px;
    height: 10px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-transition: opacity 0.25s ease;
    -moz-transition: opacity 0.25s ease;
    transition: opacity 0.25s ease;
    opacity: 1;
    line-height: 0;
}

.react-toggle--checked .react-toggle-track-x {
    opacity: 0;
}

.react-toggle-thumb {
    position: absolute;
    top: 1px;
    left: 1px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 22px;
    height: 22px;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    border: 1px solid #4d4d4d;
    border-radius: 50%;
    background-color: #fafafa;
}

.react-toggle--checked .react-toggle-thumb {
    left: 27px;
    border-color: #19ab27;
}

.react-toggle--focus .react-toggle-thumb {
    -webkit-box-shadow: 0 0 3px 2px #0099e0;
    -moz-box-shadow: 0 0 3px 2px #0099e0;
    box-shadow: 0 0 2px 3px #0099e0;
}

.react-toggle:active:not(.react-toggle--disabled) .react-toggle-thumb {
    -webkit-box-shadow: 0 0 5px 5px #0099e0;
    -moz-box-shadow: 0 0 5px 5px #0099e0;
    box-shadow: 0 0 5px 5px #0099e0;
}

/* accordion */

.accordion__body {
    display: block;
    animation: fadein 0.35s ease-in;
}

.accordion__body--hidden {
    display: none;
    animation: fadein 0.35s ease-in;
    opacity: 0;
}

@keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.u-position-relative {
    position: relative;
}

.accordion__title {
    min-width: 160px;
    max-width: 540px;
    margin: auto;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    color: #444;
    border: none;
    background-color: #f4f4f4;
}

.accordion__title:hover {
    background-color: #ddd;
}

.accordion__body {
    padding: 5px;
}

.accordion__title > *:last-child,
.accordion__body > *:last-child {
    margin-bottom: 0;
}

.accordion__arrow {
    position: absolute;
    top: 50%;
    right: 0;
    display: inline-block;
    width: 24px;
    height: 12px;
    margin-top: -6px;
}

.accordion__arrow::after,
.accordion__arrow::before {
    position: absolute;
    top: 50%;
    display: block;
    width: 10px;
    height: 2px;
    content: "";
    background-color: currentColor;
}

.accordion__arrow::before {
    left: 4px;
    transform: rotate(45deg);
}

[aria-expanded="true"] .accordion__arrow::before {
    transform: rotate(-45deg);
}

.accordion__arrow::after {
    right: 4px;
    transform: rotate(-45deg);
}

[aria-expanded="true"] .accordion__arrow::after {
    transform: rotate(45deg);
}

.accordion__arrow::before,
.accordion__arrow::after {
    transition: transform 0.25s ease, -webkit-transform 0.25s ease;
}
